[submodule "blogeek-backEnd"]
	path = blogeek-backEnd
	url = https://github.com/AnthonyDeplanque/blogeek-backEnd.git
[submodule "blogeek-frontEnd"]
	path = blogeek-frontEnd
	url = https://github.com/AnthonyDeplanque/blogeek-frontEnd.git
